

#login-body {
    background-image: url("../images/kyrie.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

body {
    font-family: 'Courier Prime', monospace;
}

.login-heading {
    text-align: center;
    background: white;
}


#info {
    color: red;
}

.login-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: white;
    opacity: 0.90;
    margin-top: 300px;
}





#create-body {
    background-image: url("../images/loginImageBballjpg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

.create-acct-heading {
    text-align: center;
    background: white;
}

.create-acct-container{

    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: white;
    opacity: 0.90;
    margin-top: 300px;
}






/* Main Page */

#home-body {
    background-image: url("../images/kyrie.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

#sc-txt-header {
    text-align: center;
    color: orange;
    font-weight: bolder;
    font-size: 60px;
}

#about {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

#searchInput {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 20px;
    border-radius: 15%;
    height: 15px;
    width: 200px;
    border-color: black;
    text-align: center;
}

#search-button {
    margin-right: auto;
    margin-left: auto;
    display: block;

}

.vidAppend {
   width: 800px;
   height: 500px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   padding-top: 50px;
}

