
/* Login Page */
#login-body {
    background-image: url("../images/kyrie.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

.login-heading {
    text-align: center;
    background: white;
}
h1 {
    color: red;
}

#info {
    color: red;
}

.login-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: white;
    opacity: 0.90;
    margin-top: 300px;
}




/* Create Account Page */
#create-body {
    background-image: url("../images/loginImageBballjpg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

.create-acct-heading {
    text-align: center;
    background: white;
}

.create-acct-container{

    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: white;
    opacity: 0.90;
    margin-top: 300px;
}